/* App.css */
.app-container {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #888;
  width: 100%;
}

h1 {
  text-align: center;
}

/* TaskForm.css */
.task-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.task-form input,
.task-form button {
  margin-bottom: 10px;
}

.task-form input[type="date"] {
  margin-bottom: 20px;
}

/* TaskList.css */
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.task-list li:hover {
  background-color: #f0f0f0;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #000000;
}

/* TaskSummary.css */
.task-summary {
  margin-top: 20px;
  text-align: center;
}
